<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Forum.Web</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Forum.Web.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/custom-styles.css" asp-append-version="true" />

    <style>
        html {
            height: 100%;
        }
        body {
            height: 100%;
            background-color: #f0f0f0;
        }
    </style>
</head>
<body>

    <partial name="_HeaderPartial" />

    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
